$primary-red: #A52030;
$primary-gray: #8D8D88;
$primary-white: #ffffff;

@font-face {
  font-family: 'Raleway-regular';
  src: url('../public/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-bold';
  src: url('../public/fonts/Raleway-Bold.ttf');
}